org: eduardofidera
app: serverless-api
service: serverless-api

provider:
  name: aws
  runtime: nodejs12.x
  region: sa-east-1
  memorySize: 128 # set the maximum memory of the Lambdas in Megabytes
  timeout: 10 # (default is 6 seconds)
  stage: dev # setting the env stage to dev, this will be visible in the routes
  environment:
    DATABASE_ENDPOINT: ${param:databaseEndpoint}

functions:
  createAuthentication:
    handler: handler.createAuthenticationHandler
    events:
      - http:
          path: /login
          method: post
          cors: true
  handleAuthorization:
    handler: handler.authorizationHandler
    cors: true

plugins:
  - serverless-plugin-typescript
  - serverless-offline
